.t-1{
    margin: 35px;
    padding: 10px 20px;
    background-color: brown;
    border: 2px solid yellow;
    color: #f2f2f2;
    width: 290px;
    height: 200px;
}

.t-2{
    width: 300px;
    height: 360px;
    margin: 35px;
    padding: 20px 5px 5px 20px;
    background-color: red;
    border: 3px solid yellow;
    color: #f2f2f2;
}

.t-3{
    width: 290px;
    height: 410px;
    background-color: cornflowerblue;
    border: 2px solid yellow;
    color: #131010;
    margin: 35px;
    padding: 12px 20px;
}

.container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}